.increment, .decrement{
    background-color: rgb(32, 175, 32);
    padding: 15px 20px;
    color: white;
    border-radius: 12px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    margin: 10px 10px;
    cursor: pointer;
 box-shadow:
  1px 1px rgb(161, 161, 161),
  -0.4em 0 0.4em rgb(155, 155, 154);
}

.increment:hover,
.decrement:hover{
    opacity: 0.7;
}

.decrement{
    background-color: rgb(240, 66, 35);
}

.count{
    color: rgb(72, 72, 240);
    font-size: 3rem;  
    text-align: center; 
    font-weight: 700;
}

.background{
    /* background-color: rgb(217, 217, 218); */
    padding: 10px 10px;
}

.buttonSection{
    display: flex;
    justify-content: center;
}
