.increment, .decrement{
    background-color: rgb(61, 185, 61);
    padding: 15px 20px;
    color: white;
    border-radius: 12px;
    border: none;
    font-size: 15px;
    margin: 10px 10px;
    cursor: pointer;
}

.increment:hover,
.decrement:hover{
    opacity: 0.7;
}

.decrement{
    background-color: rgb(240, 66, 35);
}

.count{
    color: rgb(72, 72, 240);
    font-size: 3rem;  
    text-align: center; 
}

.background{
    background-color: rgb(183, 184, 185);
    padding: 10px 10px;
}

.buttonSection{
    display: flex;
    justify-content: center;
}