.switch {
  border: 2px dashed #98fec9c2;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 600;
  background-color: black;
  color: white;
  margin: 10px 20px;
  padding: 10px 15px;
  box-shadow: 0px 5.5px 6.5px 0px #06060605;
  transition: all 0.25s ease;
}
