.full {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemsList,
.form {
  background: white;
  color: black;
  width: 250px;
  border: 3px solid black;
  padding: 10px 22px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px #00000025;
  margin: 15px 20px;
}

.form {
  height: 30px;
}

.add {
  border: 2px dashed #98fec9c2;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 600;
  background-color: black;
  color: white;
  margin: 10px 20px;
  padding: 10px 15px;
  box-shadow: 0px 5.5px 6.5px 0px #06060605;
  transition: all 0.25s ease;
}

.decrement:hover {
  border: #0e8748f5;
  background-color: #0e8748f5;
  color: black;
  transform: scale(1.5);
}
