body {
  background-color: #98fec9c2;
  background-repeat: no-repeat;
  background-size: cover;

  margin: 20px;
  padding: 0;
  text-align: center;
}

body.dark {
  background-color: #042e18c2;
  color: white;
}
