.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  background-color: #f9f9f9;
  border-radius: 12px;
  max-width: 450px;
  margin: 20px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.user-form__form {
  display: flex;
  flex-direction: column;
  width:30%;
  margin: auto;
}

.user-form__button {
  margin-top: 12px;
  padding: 10px 16px;
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.user-form__button:hover {
  background-color: #0056b3;
}

.user-form__welcome{
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
  color: black;
  text-align: center;
}

.user-form__welcome .dark {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: center;;
}
